[google_form]
new_place_url = "Google Form의 신규 장소 제안 사전입력 URL"
update_base_url = "Google Form 응답 URL"
request_type_entry = "entry.질문번호"
target_place_name_entry = "entry.질문번호"
location_hint_entry = "entry.질문번호"
update_request_value = "기존 장소 수정"

# 비공개 즐겨찾기 Google Sheet 연결
# Google Cloud 서비스 계정 JSON의 값을 입력합니다.
[connections.bookmarks]
spreadsheet = "https://docs.google.com/spreadsheets/d/스프레드시트_ID/edit"
worksheet = "bookmarks"
type = "service_account"
project_id = "서비스_계정_project_id"
private_key_id = "서비스_계정_private_key_id"
private_key = "-----BEGIN PRIVATE KEY-----\n서비스_계정_private_key\n-----END PRIVATE KEY-----\n"
client_email = "서비스계정@프로젝트.iam.gserviceaccount.com"
client_id = "서비스_계정_client_id"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "서비스_계정_client_x509_cert_url"
